tr td{
    color: #ff0404;
}
#tbody2>tr{
    color: #04ecff;
}
aside p+p{
    color: #ff0404;
}
#saturn th {
    color: #ffffff;
}
#section{
    box-shadow: #white;
}
#jupiter{
    
    background-image: url(..);
}